<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página não encontrada - 404</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
        }
        h1 {
            font-size: 36px;
            margin-bottom: 20px;
        }
        p {
            font-size: 18px;
            margin-bottom: 40px;
        }
    </style>
</head>
<body>
    <h1>Página não encontrada - 404</h1>
    <p>Lamentamos, mas a página que você está procurando não foi encontrada.</p>
    <p>Você pode tentar novamente ou voltar para a página inicial.</p>
    <p>Favor entrar em contato com o desenvolvedor</p>
    <p>fthec:&reg;</p>
    <a href="mailto:fthec@gmail.com">Email</a>
</body>
</html>